*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    background-color: #e2d9d9;
    display: grid;
    place-items: center;
}
.groceryBody{
    width: 90%;
    border-radius: 10px;
    padding: 50px 30px 50px 30px;
    height: auto;
    background-color: #fff;
    box-shadow: 4px 4px 12px #999;
}
header{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.groceryBody input{
    width: 80%;
    padding:10px 0 ;
    padding-left: 20px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(154, 154, 185);
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    outline: none;
    text-transform: capitalize;
}
.groceryBody input::placeholder{
    color: #fff; 

}

.groceryBody .Submit{
    width: 20%;
    padding: 10px 0 ;
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border: 0;
    background-color: lightblue;
    cursor: pointer;
}
.Submit:hover{
    background-color: rgb(129, 192, 192);
    columns: #888;
}

.groceryList{
    margin-top: 10px;
}
.alert{
    width: 100%;
    height: auto;
    padding: 2px;
    text-align: center;
    background:rgb(155, 67, 67) ;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;

}
.clearItems{
    text-align: center;
}
#clearItems{
    font-size: 20px;
    color: rgb(215, 39, 39);
    cursor: pointer;
    background: transparent;
    border: transparent;
}
.eachItem{
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}
.eachItems{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.edit,.delete{
    margin-left: 10px;
    padding: 5px;
    background: transparent;
    border: transparent;
    cursor: pointer;
}
.edit{
    background: rgb(45, 171, 45);
    color: #000;
}
.edit:hover{
    background: rgb(3, 101, 3);
    color: #000;
}
.delete:hover{
    background: red;
    color: #000;
}
.delete{
    background: rgb(244, 85, 85);
    color: #000;
}
@media(min-width:600px){
    .groceryBody{
        width: 600px;
    }
}
